.contacto {
    padding: 100px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #886f9e;
}

.contacto p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #886f9e;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-top: 50px;
    gap: 30px;
    color: #886f9e;
}

.input-item {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.input-item:nth-child(3) {
    grid-column: 1 / 3;
}

.input-item:nth-child(4) {
    grid-column: 1 / 3;
}

.input-item label {
    padding: 20px 0;
    font-size: 18px;
}

.input-item input {
    height: 10px;
    padding: 20px 0;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #f5d8ef;
}

.input-item textarea {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0;         
    border-radius: 8px;
    width: 100%;
    height: 150px;
    resize: none;   
    background: #f5d8ef;
}

.btn-enviar {
    width: 50%;
    height: 5vh;
    justify-self: center;
    grid-column: 1 / 3;
    border:none;
    border-radius: 8px;
    background: #ebc3db;
    color: #743c65;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.4s ease, border-radius 0.4s ease
}

.btn-enviar:hover {
    background: #f5d8ef;
    cursor: pointer;
} 

html.dark .contacto h2 {
    color: #f2a187;
}

html.dark .contacto p{
    color: #f2a187;
}

html.dark .formulario-contacto {
    color: #f2a187;
}