.contacto {
    padding: 100px;
    /*outline: 1px solid blue;*/
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #1b263b;
}

.contacto p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #1b263b;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-top: 50px;
    gap: 30px;
    color: #1b263b;
}

.input-item {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.input-item:nth-child(3) {
    grid-column: 1 / 3;
}

.input-item:nth-child(4) {
    grid-column: 1 / 3;
}

.input-item label {
    padding: 20px 0;
    font-size: 18px;
}

.input-item input {
    height: 10px;
    padding: 20px 0;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.input-item textarea {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0;         
    border-radius: 8px;
    width: 100%;
    height: 150px;
    resize: none;   
}

.btn-enviar {
    width: 50%;
    height: 5vh;
    justify-self: center;
    grid-column: 1 / 3;
    border:none;
    border-radius: 8px;
}