footer {
    height: 100%;
    width: 100%;
    background: #7a5b94;
    color: #f5d8ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

footer a {
    color: #f5d8ef;
    font-size: 30px;
    text-decoration: none;
}

.redes {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

html.dark footer {
    background: #562349;
}