.proyectos {
    width: 90%;
    height: 100dvh;
    background: #816389 ;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
    padding-top:10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.figuras {
    background: linear-gradient(45deg, #bd85a7, #f7ada0);
    border-radius: 50px;
    margin: 5vw 1vw 5vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #f5d8ef;
    
}

.archivos {
    height: 70vh;
}

.proyectos-container h2 {
    font-size: clamp(16px, 15vh, 40px);
}

.proyectos-container p {
    font-size: clamp(16px, 10vh, 18px);
}

.proyecto-container {
    position: relative;
    background: linear-gradient(65deg, #f7ada0, #bd85a7);
    height: clamp(4vh, 8vh, 100px);
    width: clamp(280px, 80%, 1000px);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: 
    transform 0.2s ease,
    background 0.4s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

.text-proyecto {
    font-size: clamp(10px, 1.5rem, 18px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #743c65;
    left: 1vw;
}

.nombre-proyecto {
    font-size: clamp(10px, 1.5rem, 20px);
    font-weight: 600;
}

.tienda-img {
    height: 40vh;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 10px;
    right: -15.5vw;
}

.vet-img {
    height: 40vh;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 1.5vh;
    right: -1vw;
}

.elec-img {
    height: 40vh;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 1.5vh;
    right: -17.5vw;
}

.curs-img {
    height: 40vh;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 1.5vh;
    right: 0;
}

.clinica-img {
    height: 40vh;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 1.5vh;
    right: -15vw;
}

.proyecto-container img {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;
}

.proyecto-container:hover img {
    opacity: 1;
    transform: translateX(0);
}

.proyecto-container:active {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 4px 10px rgba(27, 38, 59, 0.2);
}

html.dark .proyectos{
    background: none;
}

@media (max-width: 768px) {
    .proyectos {
        grid-template-columns: 1fr;
    }

    .fila2 {
        grid-template-columns: 1fr;
        grid-column: auto;
    }

    .proyecto-container {
        height: 30vh;
    }

    .proceso,
    .proyecto-container.en-proceso {
        grid-column: auto;
        height: 30vh;
        width: 100%;
    }
}